<!-- <div class='container'>
  <app-addresses></app-addresses>

</div> -->
<div class="mx-5">
   
      <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Adress Book</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a routerLinkActive="active" routerLink="address">Address</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="login">Login</a>
    </li>
      <li>
          <a routerLinkActive="active" routerLink="Signup">Sign Up</a>
      </li>
      </ul>
    </div>
  </nav>

    <router-outlet></router-outlet>
</div>